In [3]:
import pandas as pd

In [ ]:
df = pd.read_csv("Phillips Screwdriver_&_Gelato.csv")
df

    Phillips Screwdriver  Gelato
0                     10    32.0
1                     46    21.0
2                      2     5.0
3                     13     2.0
4                     41    40.0
5                      6    30.0
6                     33    50.0
7                     40    48.0
8                     28    41.0
9                     23    37.0
10                    23     NaN

In [12]:
df = pd.read_csv("tools.csv")
df['Blueberry Muffin'].sort_index()
df

    Blueberry Muffin  Flashlight
0                 31        30.0
1                 16        11.0
2                 34        13.0
3                 32        30.0
4                 39        24.0
5                 28        36.0
6                 41        17.0
7                  3        24.0
8                 38        17.0
9                  8        30.0
10                19         NaN